.dialogExecutionList::-webkit-scrollbar{
    width: 3px;
    color: #6ce7db8b;
}

.dialogExecutionList::-webkit-scrollbar-thumb{
    background-color: #009688;
    color: #00968733
}

.iconBtn-help:hover .icon-help{
    color: #009688;
}

.iconBtn-add:hover .icon-add{
    color: #fff176;
}
