.dialog-order-box::-webkit-scrollbar {
    width: 3px
}

.dialog-order-box::-webkit-scrollbar-track {
    background-color: #a1887f;
}

.dialog-order-box::-webkit-scrollbar-thumb{
    background-color: #1e88e5;
}

.dialog-order-box img {
    width: 50px;
    height: 50px;
}

.orderlist-dialog-input-date::-webkit-calendar-picker-indicator {
    filter: grayscale(2);
  }

