.dialog-order-box::-webkit-scrollbar {
    width: 4px
}

.dialog-order-box::-webkit-scrollbar-thumb{
    background-color: #1e88e5;
    border-radius: 30px;
}

.dialog-order-box::-webkit-scrollbar-track {
    margin-top: 20px;
    background-color: #debf94;
}

.dialog-order-box img {
    width: 50px;
    height: 50px;
}

.orderlist-dialog-input-date::-webkit-calendar-picker-indicator {
    filter: grayscale(2);
  }

