.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #a1887f;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-button-prev {
    color: red;
    margin-left: 10px;
}

.swiper-button-next {
    color: red;
    margin-right: 10px;
}