.multi-order::-webkit-scrollbar {
    width: 0px
}

.multi-order::-webkit-scrollbar-thumb {
    background-color: aquamarine;
    color: #f2cd9d
}

.multiOrder-detail-box:hover .multiOrder-detail-smbox-avatar {
    color: #9575cd;
    background-color: #f2cd9d;
}

.multiOrder-detail-box:hover .multiOrder-detail-smbox-text {
    color: #f2cd9d;
}