.function-order-box::-webkit-scrollbar {
    width: 0px
}

.is-training-gif {
    position: absolute;
    top: 15px;
    right: 10px;
    transform: translate(35%, -35%) ;
    width: 225px;
    height: 150px
}

@media screen and (max-width: 600px) {
    .is-training-gif {
        position: absolute;
        top: 15px;
        right: 10px;
        transform: translate(35%, -35%) ;
        width: 150px;
        height: 117px
    }
}