.multi-create-select-box::-webkit-scrollbar {
    width: 4px;
}

.multi-create-select-box::-webkit-scrollbar-thumb {
    background-color: #9575cd;
    border-radius: 40px;
}

.multi-create-input {
    position: absolute;
    top: 50% ;
    right: 40px;
    transform: translateY(-50%);
    width: 30px;
    height: 15px;
    color: red
}

.multi-create-input:focus {
    transform: translateY(-50%);
}

.multi-create-input::-webkit-inner-spin-button,
.multi-create-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}