.multi-order::-webkit-scrollbar {
    width: 4px
}

.multi-order::-webkit-scrollbar-thumb {
    background-color: #ffffffee;
    border-radius: 30px;
}

.multiOrder-detail-box:hover .multiOrder-detail-smbox-avatar {
    color: #ffffffd7;
    background-color: #86d2b2;
}

.multiOrder-detail-box:hover .multiOrder-detail-smbox-text {
    color: #86d2b2;
}