.multi-order::-webkit-scrollbar {
    width: 0px
}

.multi-order::-webkit-scrollbar-thumb {
    background-color: aquamarine;
    color: #06d896
}

.multiOrder-detail-box:hover .multiOrder-detail-smbox-avatar {
    color: #ffffffd7;
    background-color: #06d896;
}

.multiOrder-detail-box:hover .multiOrder-detail-smbox-text {
    color: #06d896;
}