.edit-item-input {
    width: 30px;
    height: 15px;
    border: none;
    font-weight: 600;
}

.edit-item-input::-webkit-inner-spin-button,
.edit-item-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}