.training {
    animation: training 1.5s infinite ease-in-out;
}

@keyframes training {
    0% { transform: scale(1);}
    50% { transform: scale(1.2);}
    100% { transform: scale(1);}
}

.orderlist-input-date::-webkit-calendar-picker-indicator {
    filter: invert(1) sepia(100%) saturate(10000%) hue-rotate(300deg); 
  }
