.dialog-box::-webkit-scrollbar {
    width: 10px
}

.dialog-box::-webkit-scrollbar-track {
    background-color: #a1887f;
}

.dialog-box::-webkit-scrollbar-thumb{
    background-color: #795548;
}

.dialog-box img {
    width: 50px;
    height: 50px;
}

input {
    width: 40%;
    height: 2.2vh;
    padding: 8px;
    border:1px solid #795548;
    text-align: center;
    color: #ffcc80;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

input::placeholder {
    color: #795548;
    font-size: 16px;
    font-weight: 600;
}

input:focus {
    outline: none;
    transform: scale(1.05);
}