.orderlist img {
    width: 65px ;
    height: 55px;
}

@media screen and (max-width: 600px){
    .orderlist img {
        width: 60px ;
        height: 50px;
    }
}

.orderlist::-webkit-scrollbar {
    width: 0px;
}

.infoAreaMultiIconButton:hover {
    background-color: #1976d283
}

.infoAreaMultiIconButton:hover .infoAreaMultiIcon {
    color: #1976d2
}