.operation-interface img {
    position: relative;
    z-index: 2;
    width: 70px !important;
    height: 70px !important;
}

@media screen and (max-width: 900px) {
    .operation-interface img {
        width: 60px !important;
        height: 60px !important;
    }
}

@media screen and (max-width: 600px) {
    .operation-interface img {
        width: 50px !important;
        height: 50px !important;
    }
}

.operation-interface .board {
    width: 100% !important;
    height: 100% !important;
}

.information-area .board {
    width: 100% !important;
    height: 100% !important;
}

.operation-interface .box-photo {
    width: 100% !important;
    height: 100% !important;
}