.operation-interface img {
    position: relative;
    z-index: 2;
    width: 70px !important;
    height: 70px !important;
}

@media screen and (max-width: 900px) {
    .operation-interface img {
        width: 55px !important;
        height: 55px !important;
    }
}

.operation-interface .board {
    width: 100% !important;
    height: 100% !important;
}

.information-area .board {
    width: 100% !important;
    height: 100% !important;
}

.operation-interface .box-photo {
    width: 100% !important;
    height: 100% !important;
}

.dialog-stack-image img {
    width: 100% !important;
    height: 100% !important;
}

.stack-and-buffer::-webkit-scrollbar {
    width: 0px
}

.buffer-box .buffer-content::-webkit-scrollbar {
    width: 0px
}