.operation-interface img {
    position: relative;
    z-index: 2;
    width: 70px !important;
    height: 70px !important;
}

.operation-interface .board {
    width: 100% !important;
    height: 100% !important;
}

.information-area .board {
    width: 100% !important;
    height: 100% !important;
}

.operation-interface .box-photo {
    width: 100% !important;
    height: 100% !important;
}