/*
swalRed: "#f27474",
swalGreen: "#a5dc86",
*/

.swal-info {
    background-color: #9de0f6;
}

.swal-success {
    background-color: #a5dc86;
}

.swal-warning {
    background-color: #facea8;
}

.swal-error {
    background-color: #f27474;
}

.swal-question {
    background-color: #c9dae1;
    /* color: #ffffff55 */
}

.infoBtnToast-popup {
    position: relative;
}

.infoBtnToast-actions {
    display: block !important;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    margin: 0px !important
}

.infoBtnToast-button {
    font-weight: 600;
    color: #757575;
    background-color: var(--custom-color);
    padding: 6px 8px;
    border: none
}

.infoBtnToast-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.infoBtnToast-button:active {
    transform: scale(0.95);
}