/*
swalRed: "#f27474",
swalGreen: "#a5dc86",
*/
div:where(.swal2-container) {
    z-index: 9999 !important;
    color: #2a2a2a
} 

.swal-info {
    background-color: #9de0f6;
}

.swal-success {
    background-color: #a5dc86;
}

.swal-warning {
    background-color: #facea8;
}

.swal-error {
    background-color: #f27474;
}

.swal-question {
    background-color: #c9dae1;
    /* color: #ffffff55 */
}

.infoBtnToast-popup {
    position: relative;
}

.infoBtnToast-actions {
    display: block !important;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    margin: 0px !important
}

.infoBtnToast-button {
    font-weight: 600;
    color: #757575;
    background-color: var(--custom-color);
    padding: 6px 8px;
    border: none
}

.infoBtnToast-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.infoBtnToast-button:active {
    transform: scale(0.95);
}

.swal-html-container{
    font-weight: 600 !important;
}

.swal-btn {
    color: #2a2a2a !important;
    font-weight: 600;
}

.swal-btn2-confirm {
    color: #facea8 !important;
    font-weight: 600;
}

.swal-btn2-cancel {
    color: #c62828 !important;
    font-weight: 600;
}

.swal-standby-btn {
    color: #eeeeee !important;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .swal-popup {
        width: 85vw
    }
}



