:root {
    --purple: #9575cd;
    --purple400: #7e57c2
}

.text-effect {
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.text-effect1::after {
    content: attr(data-text);
    color: var(--purple);
    border-right: 2px solid var(--purple);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0;
    text-shadow: 0 0 0.5px var(--purple);
    animation: text-effect 1.5s linear infinite alternate;
}

.text-effect2::after {
    content: attr(data-text);
    color: var(--purple400);
    border-right: 2px solid var(--purple400);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0;
    text-shadow: 0 0 1.5px var(--purple400);
    animation: text-effect 1.5s linear infinite alternate;
}

@keyframes text-effect {
    0% {width: 0;}
    0% {width: 100%;}
}